body{
    margin: 0;
}
#top_header{
    width: 100%;
    height: 30px;
    background-color: #3F5C58;
}

#top_header div {
    display: inline-block;
    width: 24%;
    text-align: center;
    color: white;
}

nav a{ /* tous les liens a à l'intérieur de la balise nav */
    text-decoration: none; /* pas d'héritage avec effet souligné */
    color: #ffffff; /* couleur du texte */
    background: #000000; /* couleur de fond */
    height: 36px; /* hauteur */
    line-height: 33px; /* interligne */
    padding: 0 10px; /* marges intérieur */
    font-family: sans-serif; /* police d'écriture */
    font-size: 13px; /* taille du texte */
    transition: .5s; /* temps de transition lors du hover : une demi seconde */
    }
    nav a:hover{ /* tous liens lors du survol dans la balise nav */
    background: #f43c80; /* couleur de fond */
    }

.social-commerce-container {
    display: block;
    justify-content: space-between;
    align-items: center;
}

.social-commerce-container > div {
    display: inline-block;
}

.social-icons a, .commerce-links a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-shopping-cart {
    /* Style for shopping cart icon */
}

/* Responsive design and other styles */
@media (max-width: 600px) {
    .social-icons a, .commerce-links a {
        font-size: 16px;
    }
}